{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Ajouter une séance</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}

        {{ form_row(form.sequence) }}
        {{ form_row(form.numero) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.description) }}

        <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
